<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>day</key>
	<dict>
		<key>chartLimitLine</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#2973E3</string>
		</dict>
		<key>chartCandleColor</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#4A90E2</string>
		</dict>
		<key>chartDIFF</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#FFA050</string>
		</dict>
		<key>chartDEA</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#7878FA</string>
		</dict>
		<key>chartMACD</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#05E222</string>
		</dict>
		<key>chartUPPER</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#FFA050</string>
		</dict>
		<key>chartMID</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#FA5FAA</string>
		</dict>
		<key>chartLOWER</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#7878FA</string>
		</dict>
		<key>chartK</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#FFA050</string>
		</dict>
		<key>chartD</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#FA5FAA</string>
		</dict>
		<key>chartJ</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#7878FA</string>
		</dict>
		<key>chartRSI6</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#FFA050</string>
		</dict>
		<key>chartRSI12</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#FA5FAA</string>
		</dict>
		<key>chartRSI24</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#7878FA</string>
		</dict>
		<key>chartOBV</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#FFA050</string>
		</dict>
		<key>chartLine</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#4A8FE3</string>
		</dict>
		<key>chartAVGLine</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#F9D124</string>
		</dict>
		<key>chartMA1</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#F51F7D</string>
		</dict>
		<key>chartMA2</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#F0AB0A</string>
		</dict>
		<key>chartMA3</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#756BF7</string>
		</dict>
		<key>chartMA4</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#E7C70F</string>
		</dict>
		<key>chartMA5</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#47D8E7</string>
		</dict>
		<key>borderLine</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#eaeaea</string>
		</dict>
		<key>chartBG</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#ffffff</string>
		</dict>
		<key>chartBorder</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#eaeaea</string>
		</dict>
		<key>chartCandleFallColor</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#40D94D</string>
		</dict>
		<key>chartCandleRiseColor</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#F52929</string>
		</dict>
		<key>chartHighlighterLabelBG</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#DBE6F0</string>
		</dict>
		<key>chartHighlighterLine</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#808080</string>
		</dict>
		<key>detailListViewLabel</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#323232</string>
		</dict>
		<key>headerLabelText</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#323232</string>
		</dict>
		<key>headerViewCloseBtn</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#4a90e2</string>
		</dict>
		<key>headerViewRefreshBtn</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#4a90e2</string>
		</dict>
		<key>infoViewBG</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#f5f5f5</string>
		</dict>
		<key>optionViewBtnImage</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#4a90e2</string>
		</dict>
		<key>optionViewBtnN</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#9EA0A0</string>
		</dict>
		<key>optionViewBtnS</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#4a90e2</string>
		</dict>
		<key>priceDown</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#03DC4E</string>
		</dict>
		<key>priceLastDown</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#59f05a</string>
		</dict>
		<key>priceLastUp</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#e84740</string>
		</dict>
		<key>priceUp</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#FA132D</string>
		</dict>
		<key>selectViewBG</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#f5f5f5</string>
		</dict>
		<key>selectViewBtnN</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#8b8b8e</string>
		</dict>
		<key>selectViewBtnS</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#4a90e2</string>
		</dict>
		<key>selectViewChartTypeBtn</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#4a90e2</string>
		</dict>
		<key>selectViewLine</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#4a90e2</string>
		</dict>
		<key>stockHALT</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#808080</string>
		</dict>
		<key>stockViewBG</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#ffffff</string>
		</dict>
		<key>titleLabelBG</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#323232</string>
		</dict>
		<key>chartLineFillStartColor</key>
		<dict>
			<key>color</key>
			<string>#1860FE</string>
			<key>alpha</key>
			<string>0.6</string>
		</dict>
		<key>chartLineFillEndColor</key>
		<dict>
			<key>color</key>
			<string>#1860FE</string>
			<key>alpha</key>
			<string>0.15</string>
		</dict>
	</dict>
	<key>night</key>
	<dict>
		<key>chartCandleColor</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#4A90E2</string>
		</dict>
		<key>borderLine</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#000000</string>
		</dict>
		<key>chartBG</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#191919</string>
		</dict>
		<key>chartBorder</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#0A0A0A</string>
		</dict>
		<key>chartCandleFallColor</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#40D94D</string>
		</dict>
		<key>chartCandleRiseColor</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#F52929</string>
		</dict>
		<key>chartHighlighterLabelBG</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#EDEDED</string>
		</dict>
		<key>chartHighlighterLine</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#ffffff</string>
		</dict>
		<key>detailListViewLabel</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#cdcdcd</string>
		</dict>
		<key>headerLabelText</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#cdcdcd</string>
		</dict>
		<key>headerViewCloseBtn</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#4a90e2</string>
		</dict>
		<key>headerViewRefreshBtn</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#4a90e2</string>
		</dict>
		<key>infoViewBG</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#222222</string>
		</dict>
		<key>optionViewBtnImage</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#4a90e2</string>
		</dict>
		<key>optionViewBtnN</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#9EA0A0</string>
		</dict>
		<key>optionViewBtnS</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#4a90e2</string>
		</dict>
		<key>priceDown</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#03DC4E</string>
		</dict>
		<key>priceLastDown</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#59f05a</string>
		</dict>
		<key>priceLastUp</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#e84740</string>
		</dict>
		<key>priceUp</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#FA132D</string>
		</dict>
		<key>selectViewBG</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#222222</string>
		</dict>
		<key>selectViewBtnN</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#8b8b8e</string>
		</dict>
		<key>selectViewBtnS</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#4a90e2</string>
		</dict>
		<key>selectViewChartTypeBtn</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#4a90e2</string>
		</dict>
		<key>selectViewLine</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#4a90e2</string>
		</dict>
		<key>stockHALT</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#ffffff</string>
		</dict>
		<key>stockViewBG</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#1a1a1a</string>
		</dict>
		<key>titleLabelBG</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#e2e1e3</string>
		</dict>
		<key>chartLineFillStartColor</key>
		<dict>
			<key>color</key>
			<string>#1860FE</string>
			<key>alpha</key>
			<string>0.6</string>
		</dict>
		<key>chartLineFillEndColor</key>
		<dict>
			<key>color</key>
			<string>#1860FE</string>
			<key>alpha</key>
			<string>0.15</string>
		</dict>
		<key>chartDIFF</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#FFA050</string>
		</dict>
		<key>chartDEA</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#7878FA</string>
		</dict>
		<key>chartMACD</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#05E222</string>
		</dict>
		<key>chartUPPER</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#FFA050</string>
		</dict>
		<key>chartMID</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#FA5FAA</string>
		</dict>
		<key>chartLOWER</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#7878FA</string>
		</dict>
		<key>chartK</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#FFA050</string>
		</dict>
		<key>chartD</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#FA5FAA</string>
		</dict>
		<key>chartJ</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#7878FA</string>
		</dict>
		<key>chartRSI6</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#FFA050</string>
		</dict>
		<key>chartRSI12</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#FA5FAA</string>
		</dict>
		<key>chartRSI24</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#7878FA</string>
		</dict>
		<key>chartOBV</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#FFA050</string>
		</dict>
		<key>chartLine</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#4A8FE3</string>
		</dict>
		<key>chartAVGLine</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#F9D124</string>
		</dict>
		<key>chartMA1</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#F51F7D</string>
		</dict>
		<key>chartMA2</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#F0AB0A</string>
		</dict>
		<key>chartMA3</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#756BF7</string>
		</dict>
		<key>chartMA4</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#E7C70F</string>
		</dict>
		<key>chartMA5</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#47D8E7</string>
		</dict>
		<key>chartLimitLine</key>
		<dict>
			<key>alpha</key>
			<string>1</string>
			<key>color</key>
			<string>#2973E3</string>
		</dict>
	</dict>
</dict>
</plist>
